<form class="payd-form">
  <div class="input-group input-group-lg">
    <span class="input-group-addon" id="sizing-addon1">@</span>
    <input type="text" class="form-control" placeholder="Search for" aria-describedby="sizing-addon1" ng-keypress="search()">
  </div>
</form>
<div ng-controller="CategoryAccordionCtrl" id="category-accordion">
  <accordion close-others="true">
    <!-- FIXME anyone know how to interpolate some html into the {{ curlies }}??? -->
    <accordion-group heading="{{ category.title }}" ng-repeat="category in categories">
      <ul class="list-unstyled list-transaction">
        <li class="transaction" ng-repeat="transaction in category.content.transactions">
          <div class="media">
            <div class="media-object pull-right">
              {{'$' + transaction.amount.toFixed(2)}}
            </div>
            <div class="media-body">
              <span class="transaction-date">
                {{transaction.date}}
              </span>
              {{transaction.description}}
            </div>
          </div>
        </li>
      </ul>
    </accordion-group>
  </accordion>
</div>
