.prize {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}

.stretch {
  width: 100%;
  height: 100%;
}

.st-sort-ascent:after{
  content: '\25B2';
}

.st-sort-descent:after{
  content: '\25BC';
}
